.main {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background: url("./Assets/Background.png") no-repeat fixed center;
  background-size: cover;
}

.welcome {
  margin: 50px auto 50px auto;
  text-align: center;
  color: white;
  font-size: 2em;
}

.dashboard {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
  margin: 0 auto;
  width: 70%;
}
.dashboardItem {
  background: url("./Assets/Container.png");
  background-size: cover;
  height: 220px;
  width: 300px;
  justify-self: center;
}

.blockHeader {
  text-align: center;
}
.blockHeader h1 {
  margin-top: 10px;
}
.block-item {
  display: inline-block;
  width: 130px;
  height: 50px;
}

.block-item h3 {
  position: relative;
  top: -35px;
  left: 30px;
  font-size: 2em;
}

.city {
  position: relative;
  top: -30px;
  text-align: center;
  font-size: 1.5em;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
}
::placeholder {
  color: white;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex {
  display: flex;
}
.flex input {
  width: 300px;
  margin: 20px 50px 20px 50px;
}

input[type="file"] {
  display: none;
}
.fileUpload {
  border: 2px solid #ffe65e;
  border-radius: 10px;
  display: inline-block;
  height: 100px;
  width: 200px;
  cursor: pointer;
  text-align: center;
  padding-top: 25px;
  font-size: 1.3em;
  background-color: rgba(92, 90, 95, 0.3);

  color: white;
}

.fileContainer {
  text-align: center;
}

.loginHeading {
  margin: 50px auto 50px auto;
  text-align: center;
  color: white;
  font-size: 4em;
}

.registerButton,
.loginButton {
  display: flex;
  background: url("./Assets/Register_button.png");
  background-size: cover;
  width: 200px;
  height: 44px;
  border: none;
  border-radius: 10px;
  margin: 20px auto;
  cursor: pointer;
}

.loginButton {
  display: flex;
  background: url("./Assets/Login_button.png");
  background-size: cover;
  width: 200px;
  height: 44px;
  border: none;
  border-radius: 10px;
  margin: 20px auto;
  cursor: pointer;
}
